* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../environmental\ protection/green3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #388e3c;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
    position: relative;
}

header:hover {
    background-color: #43a047;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#searchBar {
    padding: 10px;
    margin-top: 10px;
    width: calc(100% - 22px);
    border: 1px solid #388e3c;
    border-radius: 5px;
}

#loginBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    background-color: #388e3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-gallery, .feedback {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product-gallery:hover, .feedback:hover {
    transform: scale(1.02);
}

.product-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid #4caf50;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 400px;
    cursor: pointer;
    transition: transform 0.3s;
}

.product:hover {
    transform: scale(1.05);
    
}

.product img {
    max-width: 80%;
    border-radius: 8px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #388e3c;
}

input[type="text"], input[type="email"], textarea {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px);
    border: 1px solid #388e3c;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
}

/* Modal Styles */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 1.5em;
    color: #388e3c;
}

.hidden {
    display: none;
}
